@import "tailwindcss";
@import "@fontsource-variable/onest";
@import "@fontsource-variable/oswald";
@import "@fontsource-variable/montserrat";

body {
  font-family: "Montserrat Variable", sans-serif;
}
