---
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/onest";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="" href="/code2.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Juan Agudelo Dev</title>
  </head>
  <body
    class="relative h-full w-full p-2 flex flex-col text-white bg-[#1f2125] bg-[radial-gradient(circle,#56575b_0%,#343539_50%,#1b1c20_100%)]"
  >
    <Navbar />

    <slot />
  </body>
</html>
